body {
  font-family: Avenir;
  color: #eeeeee;
  background: #282828;
}

#mainPageContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainPageTitle {
  font-size: 40px;
  letter-spacing: 6px;
}

#mainPageButton {
  margin-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#copyRight {
  color: #4A4A4A;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 7px;
  margin-bottom: 2px;
}

#sideNav {
  float: left;
  width: 265px;
  background: #282828;
  height: 100vh;
  box-shadow: none;
}

nav div {
  height: 100px;
  width: 265px;
  float: left;
}

nav div:first-child {
  font-size: 24px;
}

nav div a {
  /* TODO: Center anchor tags within the div */
}
