body {
  font-family: Avenir;
  background: #383838;
  color: #eeeeee;
}

/* LANDING PAGE */

#landingPageBody {
  background: #282828;
}

#landingPageContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landingPageTitle {
  font-size: 40px;
  letter-spacing: 6px;
}

#mainPageButton {
  margin-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#copyright {
  color: #4A4A4A;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 7px;
  margin-bottom: 2px;
}

/* BRAND */

.brand {
  width: 100%;
  height: 150px;
  text-align: center;
}

/* NAVIGATION */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 275px;
  background: #282828;
}

.btn-flat {
  color: #EEE !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 ul li {
   margin-bottom: 25px;
   width: 100%;
   text-align: center;
 }

 /* MAIN CONTENT */

 .mainContent {
   position: relative;
   margin-left: 275px;
 }

 .wrapper {
   width: 90%;
   height: 100vh;
   margin: 0 auto;
   position: relative;
 }

 .mainContentTitle {
   text-align: center;
   font-size: 32px;
   margin-top: 20px;
 }

 /* TIMER */

  .circle-timer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #26a69a;
  }

  .circle-timer-border {
    width: 400px;
    height: 400px;
    margin: auto 0;
    margin: -200px 0 0 -200px;
    position: absolute;
    top: 45%;
    left: 50%;
  }
