<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <title>My Healthy Office</title>
  </head>
  <body>
    <div id="mainPageContent">
      <h1 id="mainPageTitle">MY HEALTHY OFFICE</h1>
      <a href="timer.html" class="waves-effect waves-light btn" id="mainPageButton">Enter Dashboard</a>
    </div>

    <div id="copyRight">
        Copyright © 2016 My Healthy Office
    </div>
  </body>
</html>
