<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <script type="text/javascript">
        window.$ = window.jQuery = require('../assets/jquery.min.js');
        window.Hammer = require('../assets/hammer.min.js');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <title>Pomodoro Timer</title>
  </head>
  <body>
    <div class="navigation">
      <div class="brand">
        <img src="../images/testbrand.png" alt="test brand" align="middle" />
      </div>
      <ul>
        <li><a href="calendar.html" class="waves-effect waves-teal btn-flat">CALENDAR</a></li>
        <li><a href="notes.html" class="waves-effect waves-teal btn-flat">NOTES</a></li>
        <li><a href="notifications.html" class="waves-effect waves-teal btn-flat">NOTIFICATIONS</a></li>
        <li><a href="timer.html" class="waves-effect waves-teal btn-flat">POMODORO TIMER</a></li>
        <li><a href="settings.html" class="waves-effect waves-teal btn-flat">SETTINGS</a></li>
      </ul>

    </div>

    <div class="mainContent">
      <div class="wrapper">
        <div class="mainContentTitle">
            SETTINGS
        </div>
      </div>
    </div>

    <div id="copyright">Copyright © 2016 My Healthy Office</div>
  </body>
</html>
