<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <title>Pomodoro Timer</title>
  </head>
  <body>

    <nav id="sideNav">
      <div class="">
        <a href="#">MY HEALTHY OFFICE</a>
      </div>

      <div class="">
        <a href="#">POMODORO TIMER</a>
      </div>
    </nav>

    <div class="mainContent">

    </div>

  </body>
</html>
