<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <script type="text/javascript">
        window.$ = window.jQuery = require('../assets/jquery.min.js');
        window.Hammer = require('../assets/hammer.min.js');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <title>Pomodoro Timer</title>
  </head>
  <body>
    <div class="navigation">
      <div class="">

      </div>
      <ul>
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
      </ul>
    </div>

    <div class="mainContent">
      <div class="wrapper">
        main content
      </div>
    </div>
  </body>
</html>
